IntegrationServer/Service References/TrackMeProControl/ControlPoint2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://track-me.pro/Endpoints/ControlPoint.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RSP2.Competitions.EndPoints.Models" />
  <xs:element name="RegisterTimer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stageId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterTimerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStageEntries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stageId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStageEntriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RSP2.Competitions.EndPoints.Models" minOccurs="0" name="GetStageEntriesResult" nillable="true" type="q1:ArrayOfControlPointEntryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RSP2.Competitions.EndPoints.Models" minOccurs="0" name="results" nillable="true" type="q2:ArrayOfControlPointResultDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResultsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResultsRally">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RSP2.Competitions.EndPoints.Models" minOccurs="0" name="results" nillable="true" type="q3:ArrayOfControlPointRallyResultDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResultsRallyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultsRally">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultsRallyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RSP2.Competitions.EndPoints.Models" minOccurs="0" name="GetResultsRallyResult" nillable="true" type="q4:ArrayOfControlPointRallyResultDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResultsRallyStart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RSP2.Competitions.EndPoints.Models" minOccurs="0" name="results" nillable="true" type="q5:ArrayOfControlPointResultDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResultsRallyStartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResultsRallyFinish">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RSP2.Competitions.EndPoints.Models" minOccurs="0" name="results" nillable="true" type="q6:ArrayOfControlPointResultDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResultsRallyFinishResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSplitTimes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RSP2.Competitions.EndPoints.Models" minOccurs="0" name="results" nillable="true" type="q7:ArrayOfControlPointSplitTimeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSplitTimesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RSP2.Competitions.EndPoints.Models" minOccurs="0" name="results" nillable="true" type="q8:ArrayOfControlPointTimeEventDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEventsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stageId" type="xs:int" />
        <xs:element minOccurs="0" name="author" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stageId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RSP2.Competitions.EndPoints.Models" minOccurs="0" name="GetMessagesResult" nillable="true" type="q9:ArrayOfControlPointMessageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTimeControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="startNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTimeControlResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>